@page
@model WebApplication1.Pages.CreateModel
@{
    ViewData["Title"] = "Create";
}

<!-- Database Step 4 - create this razor page in Pages. It will also generate a cs file
  ViewData will need to be filled in above. it might have stuff required below pertaining to scripts
  This is essentially the front end and the cs file is the backend.
  asp-for Customer.Name is going to enter it directly into the class but requires the class to be declared in cs
  -->

<h2>Create</h2>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<p>Enter your form: </p>

<form method="post">
  <div asp-validation-summary="All"></div>
  <div>Name: <input asp-for="Customer.Name" /></div>
  
  <input type="submit" />
</form>